<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Life-Organizer</title>
</head>
<body>

<h1>Home page</h1>
<p>under constructions</p>
<!-- main tasks-->

<!-- done -->
<h3>implemented tasks</h3>
<ul>
    <li style="color:green">Budget module</li>
    <li style="color:green">Analytics module</li>
    <li style="color:green">Books module</li>
    <li style="color:green">Diary module</li>
    <li style="color:green">life-event module</li>
    <li style="color:green">todo module</li>
    <li style="color:green">dashboard</li>
    <li style="color:green">unit-test</li>
    <li style="color:green">pipelines</li>
    <li style="color:green">backup/restore scripts</li>


</ul>
<!-- pending -->
<h3>Pending tasks</h3>
<ul>
    <li style="color:red">---------@Hosting-------</li>
    <li style="color:blue">Deploy on VPS</li>
    <li style="color:red">---------@Clients-------</li>
    <li style="color:blue">build android client</li>
    <li style="color:blue">build ios client</li>
    <li style="color:blue">build Desktop client</li>
    <li style="color:red">---------@Styling-------</l
    <li style="color:blue">--</li>
    <li style="color:blue">--</li>
    <li style="color:red">---------@Apis-------</li>
    <li style="color:blue">--</li>
    <li style="color:blue">--</li>

</ul>

</body>
</html>
